@mixin products {
  section {
    width: 100%;
    border: none;
    margin: 0;
    height: max-content;
    padding: 25px 0 0;

    .product {
      display: flex;
      align-items: center;
      border: none;
      justify-content: space-between;
      padding-bottom: 25px;
      
      &:nth-child(n+2) {
        padding-top: 25px;
        border-top: 1px solid #F6F5F5;
      }

      &:last-child {
        padding-bottom: 0;
      }

      span:first-child {
        display: flex;
        flex-direction: row;
        
        div:first-child {
          margin-right: 20px;
          width: 72px;
          height: 72px;
          background: #000000;
          border-radius: 8px;
        }

        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          & > span:first-child {
            font-size: 14px;
            font-weight: 400;
            color: $cor-txt;
          }

          & > span:nth-child(2) {
            font-size: 14px;
            font-weight: 400;
            color: $cor-txt2;
          }

          div {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            color: $cor-txt;

            span {
              padding: 5px 12px;
              margin-left: 10px;
              font-size: 12px;
              font-weight: 500;
              color: $cor-txt;
              border: 1px solid #EFEDED;
              border-radius: 4px;

              &:last-child {
                color: $cor-txt;
              }
            }
          }
        }
      }

      div:last-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        color: $cor-txt;

        img {
          margin-right: 5px;
        }
      }
    }
  }
}