@mixin shipping($order) {
  .shipping {
    height: 80px;
    padding: 0 25px;
    margin-top: 25px;
    background: rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(239, 237, 237, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @if $order == 'delivered' {
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 14px;
        font-weight: 400;
        color: $cor-txt;
  
        &:nth-child(4) {
          & > span:last-child {
            color: $cor-pedido-entregue;
          }
        }
  
        & > span:last-child {
          color: $cor-txt2;
  
          span {
            margin-left: 10px;
            color: $cor-txt;
            font-size: 12px;
            font-weight: 500;
            padding: 5px 10px;
            border: 1px solid #EFEDED;
            border-radius: 4px;
          }
        }
      }
    } @else if $order == 'on-the-way' {
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 14px;
        font-weight: 400;
        color: $cor-txt;

        & > span:nth-child(2) {
          color: $cor-txt2;

          span {
            padding: 5px 10px;
            margin-left: 10px;
            font-size: 12px;
            font-weight: 500;
            color: $cor-txt;
            border: 1px solid #EFEDED;
            border-radius: 4px;
          }
        }
  
        &:nth-child(4) {
          height: 50px;
          width: 170px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          background: #EDF0FE;
          border-radius: 4px;

          img, svg {
            margin-right: 15px;
          }

          span {
            font-size: 14px;
            font-weight: 500;
            color: $cor-pedido-no-caminho;
          }
        }
      }
    } @else if $order == 'separated' {
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 14px;
        font-weight: 400;
        color: $cor-txt;

        & > span:nth-child(2) {
          color: $cor-txt2;

          span {
            padding: 5px 10px;
            margin-left: 10px;
            font-size: 12px;
            font-weight: 500;
            color: $cor-txt;
            border: 1px solid #EFEDED;
            border-radius: 4px;
          }
        }
  
        &:nth-child(4) {
          height: 50px;
          width: 170px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          background: #EDF0FE;
          border-radius: 4px;

          img, svg {
            margin-right: 15px;
          }

          span {
            font-size: 14px;
            font-weight: 500;
            color: $cor-pedido-separado;
          }
        }
      }
    }

    button {
      position: relative;
      padding: 0;
      width: 50px;
      height: 50px;
      font-size: 0;
      background: #FCFCFC;
      border: 1px solid #EFEDED;
      border-radius: 8px;
      cursor: pointer;

      img {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background: #f5f5f5;
      }
    }
  }
}

@mixin progress($order) {
  .progress {
    position: relative;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      position: relative;
      width: 70px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      span:first-child {
        position: absolute;
        top: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #D7D5D4;
        z-index: 2;
        transform: translateY(-50%);
      }

      span:nth-child(2) {
        margin-top: 35px;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        color: $cor-txt2;
      }

      span:last-child {
        text-align: center;
        font-size: 10px;
        font-weight: 400;
        color: $cor-txt;
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 35px;
      content: '';
      width: 90%;
      height: 1px;
      border: 1px solid #EFEDED;
      z-index: 1;
    }

    @if $order == 'delivered' {

    } @else if $order == 'on-the-way' {
      div:nth-child(-n+4) {
        span:first-child {
          background: $cor-pedido-no-caminho;
        }
      }

      div:nth-child(4) {
        span:first-child {
          @include status($cor-pedido-no-caminho);
        }
  
        span:nth-child(2) {
          margin-top: 15px;
        }
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 35px;
        content: '';
        width: 70%;
        height: 1px;
        border: 1px solid $cor-pedido-no-caminho;
        z-index: 1;
      } 
    } @else if $order == 'separated' {
      div:nth-child(-n+3) {
        span:first-child {
          background: $cor-pedido-separado;
        }
      }

      div:nth-child(3) {
        span:first-child {
          @include status($cor-pedido-separado);
        }
  
        span:nth-child(2) {
          margin-top: 15px;
        }
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 35px;
        content: '';
        width: 45%;
        height: 1px;
        border: 1px solid $cor-pedido-separado;
        z-index: 1;
      }
    }
  }
}

@mixin products {
  section {
    width: 100%;
    border: none;
    margin: 0;
    height: max-content;
    padding: 25px 0 0;

    .product {
      display: flex;
      align-items: center;
      border: none;
      justify-content: space-between;
      padding-bottom: 25px;
      
      &:nth-child(n+2) {
        padding-top: 25px;
        border-top: 1px solid #F6F5F5;
      }

      &:last-child {
        padding-bottom: 0;
      }

      span:first-child {
        display: flex;
        flex-direction: row;
        
        div:first-child {
          margin-right: 20px;
          width: 72px;
          height: 72px;
          background: #000000;
          border-radius: 8px;
        }

        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1px;

          & > span:first-child {
            font-size: 14px;
            font-weight: 400;
            color: $cor-txt;
          }

          & > span:nth-child(2) {
            font-size: 14px;
            font-weight: 400;
            color: $cor-txt2;
          }

          div {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            color: $cor-txt;

            span {
              padding: 5px 12px;
              margin-left: 10px;
              font-size: 12px;
              font-weight: 500;
              color: $cor-txt;
              border: 1px solid #EFEDED;
              border-radius: 4px;

              &:last-child {
                color: $cor-txt;
              }
            }
          }
        }
      }

      div:last-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        color: $cor-txt;
        gap: 10px;
      }
    }
  }
}