$cor-primaria: #FF7C76;
$cor-txt: #5A4B49;
$cor-txt2: #AEABAA;
$cor-pedido-entregue: #82C91E;
$cor-pedido-no-caminho: #4C6EF5;
$cor-pedido-separado: #7950F2;
$cor-pedido-aprovado: #40C057;
$cor-pedido-recebido: #20C997;
$cor-pedido-cancelado: #FA5252;

$order-delivered: 'delivered';
$order-on-the-way: 'on-the-way';
$order-separated: 'separated';
$order-aproved: 'aproved';
$order-received: 'received';
$order-canceled: 'canceled';