$cor-txt: #5A4B49;

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Archivo', sans-serif;

  header {
    height: 75px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #FFFFFF;

    .text {
      color: $cor-txt;
      font-weight: 400;
    }

    div {
      display: flex;
      align-items: center;
      gap: 50px;

      .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 27px;
    
        .logo {
          font-size: 24px;
          font-weight: 700;
          color: #FF7C76;
        }
      }
  
      .search-input {
        position: relative;
  
        input {
          width: 417px;
          height: 40px;
          padding: 0 42px 0 21px;
          border: 1px solid rgba(193, 139, 134, 0.2);
          border-radius: 20px;
          outline: none;
          font-weight: 400;
          font-size: 14px;
  
          &::placeholder {
            color:rgba(90, 75, 73, 0.4);
            font-weight: 400;
            font-size: 14px;
          }
  
          &:focus {
            border: 1px solid #FF7C76;
          }
        }
  
        button {
          position: absolute;
          right: 0;
          height: 40px;
          width: 40px;
          background: none;
          border: none;
          border-radius: 50%;
          padding: 5px;
          font-size: 0;
          cursor: pointer;
  
          &:hover, &:focus {
            background: rgba(255, 124, 118, 0.4);
          }
        }
      }
    }

    .user-section {
      display: flex;
      gap: 0;

      .shopping-bag {
        font-size: 0;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background: rgba(255, 124, 118, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .profile {
        margin: 0 12px 0 27px;
        font-size: 0;
      }
    }
  }

  main {
    position: relative;

    .sidebar {
      position: absolute;
      top: 58px;
      left: 130px;
      background: #FFFFFF;
      width: 310px;
      height: 536px;
      border-radius: 4px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
      padding: 17px 23px;

      .sidebar-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 30px;

        div {
          position: relative;
          width: 64px;
          height: 64px;
          padding-left: 5px; 
          border: none;
          border-radius: 50%;
          background: #f7f7f7;
          display: flex;
          align-items: center;
          justify-content: center;

          .camera {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0;
            padding: 0;
            background: none;
          }
        }

        span {
          margin-top: 18px;
          font-weight: 500;
          font-size: 16px;
        }
      }

      nav {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          padding: 22px 16px;
          border-radius: 6px;
          font-weight: 400;
          font-size: 14px;
          color: $cor-txt;

          &:hover {
            background: rgba(243, 232, 231, 0.5);
          }

          img {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
