*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Archivo', sans-serif;
}

body header {
  height: 75px;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #FFFFFF;
}

body header .text {
  color: #5A4B49;
  font-weight: 400;
}

body header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

body header div .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 27px;
}

body header div .logo-container .logo {
  font-size: 24px;
  font-weight: 700;
  color: #FF7C76;
}

body header div .search-input {
  position: relative;
}

body header div .search-input input {
  width: 417px;
  height: 40px;
  padding: 0 42px 0 21px;
  border: 1px solid rgba(193, 139, 134, 0.2);
  border-radius: 20px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
}

body header div .search-input input::-webkit-input-placeholder {
  color: rgba(90, 75, 73, 0.4);
  font-weight: 400;
  font-size: 14px;
}

body header div .search-input input:-ms-input-placeholder {
  color: rgba(90, 75, 73, 0.4);
  font-weight: 400;
  font-size: 14px;
}

body header div .search-input input::-ms-input-placeholder {
  color: rgba(90, 75, 73, 0.4);
  font-weight: 400;
  font-size: 14px;
}

body header div .search-input input::placeholder {
  color: rgba(90, 75, 73, 0.4);
  font-weight: 400;
  font-size: 14px;
}

body header div .search-input input:focus {
  border: 1px solid #FF7C76;
}

body header div .search-input button {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 5px;
  font-size: 0;
  cursor: pointer;
}

body header div .search-input button:hover, body header div .search-input button:focus {
  background: rgba(255, 124, 118, 0.4);
}

body header .user-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
}

body header .user-section .shopping-bag {
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 124, 118, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .user-section .profile {
  margin: 0 12px 0 27px;
  font-size: 0;
}

body main {
  position: relative;
}

body main .sidebar {
  position: absolute;
  top: 58px;
  left: 130px;
  background: #FFFFFF;
  width: 310px;
  height: 536px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  padding: 17px 23px;
}

body main .sidebar .sidebar-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

body main .sidebar .sidebar-profile div {
  position: relative;
  width: 64px;
  height: 64px;
  padding-left: 5px;
  border: none;
  border-radius: 50%;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .sidebar .sidebar-profile div .camera {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background: none;
}

body main .sidebar .sidebar-profile span {
  margin-top: 18px;
  font-weight: 500;
  font-size: 16px;
}

body main .sidebar nav {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .sidebar nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 22px 16px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  color: #5A4B49;
}

body main .sidebar nav a:hover {
  background: rgba(243, 232, 231, 0.5);
}

body main .sidebar nav a img {
  margin-right: 20px;
}

body main .purchases-open {
  position: absolute;
  top: 286px;
  left: 473px;
  width: 808px;
  height: 582px;
  background: #FFFFFF;
  border: 1px solid rgba(90, 75, 73, 0.1);
  border-radius: 4px;
}

body main .purchases-open > span {
  position: absolute;
  top: -50px;
  font-size: 28px;
  font-weight: 500;
}

body main .purchases-open .initial-info {
  height: auto;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .purchases-open .initial-info .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .purchases-open .initial-info .status > span {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #82C91E;
  font-size: 0;
  border-radius: 8px;
}

body main .purchases-open .initial-info .status .purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  color: #82C91E;
}

body main .purchases-open .initial-info .status .purchase span {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .purchases-open .initial-info .status .purchase span img {
  height: 14px;
  margin-right: 10px;
}

body main .purchases-open .initial-info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .purchases-open .initial-info .price > span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 39px;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

body main .purchases-open .initial-info .price > span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

body main .purchases-open .initial-info .price div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  color: #5A4B49;
}

body main .purchases-open .initial-info .price div > span:last-child {
  color: #AEABAA;
}

body main .purchases-open .initial-info button {
  height: 50px;
  padding: 0 40px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(247, 246, 246, 0.6);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

body main .purchases-open .initial-info button:hover {
  background: #f7f6f6;
}

body main .purchases-open .initial-info button span {
  font-size: 16px;
  font-weight: 500;
  color: #5A4B49;
}

body main .purchases-open .initial-info button img {
  margin-left: 16px;
}

body main .purchases-open .shipping {
  height: 80px;
  margin: 0 25px;
  padding: 0 25px;
  background: rgba(250, 250, 250, 0.5);
  border: 1px solid rgba(239, 237, 237, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .purchases-open .shipping div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main .purchases-open .shipping div:nth-child(4) > span:last-child {
  color: #82C91E;
}

body main .purchases-open .shipping div > span:last-child {
  color: #AEABAA;
}

body main .purchases-open .shipping div > span:last-child span {
  margin-left: 10px;
  color: #5A4B49;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid #EFEDED;
  border-radius: 4px;
}

body main .purchases-open .shipping button {
  width: 50px;
  height: 50px;
  font-size: 0;
  background: #FCFCFC;
  border: 1px solid #EFEDED;
  border-radius: 8px;
  cursor: pointer;
}

body main .purchases-open .shipping button:hover {
  background: #f5f5f5;
}

body main .purchases-open .progress {
  position: relative;
  height: 150px;
  margin: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .purchases-open .progress div {
  width: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main .purchases-open .progress div span:first-child {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #82C91E;
  z-index: 2;
}

body main .purchases-open .progress div span:nth-child(2) {
  margin-top: 35px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #AEABAA;
}

body main .purchases-open .progress div span:last-child {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  color: #5A4B49;
}

body main .purchases-open .progress div:last-child span:first-child {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #82C91E;
  font-size: 0;
  border-radius: 8px;
}

body main .purchases-open .progress div:last-child span:nth-child(2) {
  margin-top: 15px;
}

body main .purchases-open .progress::before {
  position: absolute;
  top: 68px;
  left: 35px;
  content: '';
  width: 90%;
  height: 1px;
  border: 1px solid #82C91E;
  z-index: 1;
}

body main .purchases-open .product {
  margin: 0 25px;
  padding: 25px 0;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .purchases-open .product > span:first-child {
  margin-right: 20px;
  width: 72px;
  height: 72px;
  background: #000000;
  border-radius: 8px;
}

body main .purchases-open .product div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .purchases-open .product div > span:first-child {
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main .purchases-open .product div > span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #AEABAA;
}

body main .purchases-open .product div div {
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}
/*# sourceMappingURL=main.css.map */