*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Archivo', sans-serif;
  overflow-x: hidden;
}

body::before {
  position: absolute;
  content: '';
  top: -5%;
  left: -50%;
  width: 200%;
  height: 600px;
  background: #FA5252;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  z-index: -1;
}

body header {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #FFFFFF;
  z-index: 1000;
}

body header .text {
  color: #5A4B49;
  font-weight: 400;
}

body header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

body header div .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 27px;
}

body header div .logo-container .logo {
  font-size: 24px;
  font-weight: 700;
  color: #FF7C76;
}

body header div .search-input {
  position: relative;
}

body header div .search-input input {
  width: 417px;
  height: 40px;
  padding: 0 42px 0 21px;
  border: 1px solid rgba(193, 139, 134, 0.2);
  border-radius: 20px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
}

body header div .search-input input::-webkit-input-placeholder {
  color: rgba(90, 75, 73, 0.4);
  font-weight: 400;
  font-size: 14px;
}

body header div .search-input input:-ms-input-placeholder {
  color: rgba(90, 75, 73, 0.4);
  font-weight: 400;
  font-size: 14px;
}

body header div .search-input input::-ms-input-placeholder {
  color: rgba(90, 75, 73, 0.4);
  font-weight: 400;
  font-size: 14px;
}

body header div .search-input input::placeholder {
  color: rgba(90, 75, 73, 0.4);
  font-weight: 400;
  font-size: 14px;
}

body header div .search-input input:focus {
  border: 1px solid #FF7C76;
}

body header div .search-input button {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 5px;
  font-size: 0;
  cursor: pointer;
}

body header div .search-input button:hover, body header div .search-input button:focus {
  background: rgba(255, 124, 118, 0.4);
}

body header .user-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
}

body header .user-section .shopping-bag {
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 124, 118, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .user-section .profile {
  margin: 0 12px 0 27px;
  font-size: 0;
}

body main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main .sidebar {
  background: #FFFFFF;
  min-width: 310px;
  height: 536px;
  margin-top: 58px;
  margin-left: 120px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  padding: 17px 23px;
}

body main .sidebar .sidebar-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

body main .sidebar .sidebar-profile div {
  position: relative;
  width: 64px;
  height: 64px;
  padding-left: 5px;
  border: none;
  border-radius: 50%;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .sidebar .sidebar-profile div .camera {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background: none;
}

body main .sidebar .sidebar-profile span {
  margin-top: 18px;
  font-weight: 500;
  font-size: 16px;
}

body main .sidebar nav {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .sidebar nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 22px 16px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  color: #5A4B49;
}

body main .sidebar nav a:hover {
  background: rgba(243, 232, 231, 0.5);
}

body main .sidebar nav a img {
  margin-right: 20px;
}

body main > section {
  position: relative;
  margin-top: 286px;
  margin-left: 30px;
  /* Segund0 pedido */
  /* Terceiro pedido */
  /* Quarto pedido */
  /* Quinto pedido */
  /* Sexto pedido */
}

body main > section .purchases-open {
  width: 808px;
  height: 582px;
  background: #FFFFFF;
  border: 1px solid rgba(90, 75, 73, 0.1);
  border-radius: 4px;
}

body main > section .purchases-open > span {
  position: absolute;
  top: -50px;
  font-size: 28px;
  font-weight: 500;
  color: white;
}

body main > section .purchases-open .initial-info-open {
  height: auto;
  padding: 25px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
}

body main > section .purchases-open .initial-info-open .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
}

body main > section .purchases-open .initial-info-open .status > span {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #82C91E;
  font-size: 0;
  border-radius: 8px;
}

body main > section .purchases-open .initial-info-open .status .purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  color: #82C91E;
}

body main > section .purchases-open .initial-info-open .status .purchase span {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section .purchases-open .initial-info-open .status .purchase span img {
  height: 14px;
  margin-right: 10px;
}

body main > section .purchases-open .initial-info-open .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section .purchases-open .initial-info-open .price > span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 39px;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

body main > section .purchases-open .initial-info-open .price > span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

body main > section .purchases-open .initial-info-open .price div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  color: #5A4B49;
}

body main > section .purchases-open .initial-info-open .price div > span:last-child {
  color: #AEABAA;
}

body main > section .purchases-open .initial-info-open button {
  height: 50px;
  padding: 0 40px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(247, 246, 246, 0.6);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

body main > section .purchases-open .initial-info-open button:hover {
  background: #f7f6f6;
}

body main > section .purchases-open .initial-info-open button span {
  font-size: 16px;
  font-weight: 500;
  color: #5A4B49;
}

body main > section .purchases-open .initial-info-open button img {
  margin-left: 16px;
}

body main > section .purchases-open .shipping {
  height: 80px;
  margin: 0 25px;
  padding: 0 25px;
  background: rgba(250, 250, 250, 0.5);
  border: 1px solid rgba(239, 237, 237, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main > section .purchases-open .shipping div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section .purchases-open .shipping div:nth-child(4) > span:last-child {
  color: #82C91E;
}

body main > section .purchases-open .shipping div > span:last-child {
  color: #AEABAA;
}

body main > section .purchases-open .shipping div > span:last-child span {
  margin-left: 10px;
  color: #5A4B49;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid #EFEDED;
  border-radius: 4px;
}

body main > section .purchases-open .shipping button {
  width: 50px;
  height: 50px;
  font-size: 0;
  background: #FCFCFC;
  border: 1px solid #EFEDED;
  border-radius: 8px;
  cursor: pointer;
}

body main > section .purchases-open .shipping button:hover {
  background: #f5f5f5;
}

body main > section .purchases-open .progress {
  position: relative;
  height: 150px;
  margin: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main > section .purchases-open .progress div {
  position: relative;
  width: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main > section .purchases-open .progress div span:first-child {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #82C91E;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body main > section .purchases-open .progress div span:nth-child(2) {
  margin-top: 35px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #AEABAA;
}

body main > section .purchases-open .progress div span:last-child {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section .purchases-open .progress div:last-child span:first-child {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #82C91E;
  font-size: 0;
  border-radius: 8px;
}

body main > section .purchases-open .progress div:last-child span:nth-child(2) {
  margin-top: 15px;
}

body main > section .purchases-open .progress::before {
  position: absolute;
  top: 50%;
  left: 35px;
  content: '';
  width: 90%;
  height: 1px;
  border: 1px solid #82C91E;
  z-index: 1;
}

body main > section .purchases-open section .product {
  margin: 0 25px;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main > section .purchases-open section .product:nth-child(n+2) {
  border-top: 1px solid #F6F5F5;
}

body main > section .purchases-open section .product span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main > section .purchases-open section .product span:first-child div:first-child {
  margin-right: 20px;
  width: 72px;
  height: 72px;
  background: #000000;
  border-radius: 8px;
}

body main > section .purchases-open section .product span:first-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main > section .purchases-open section .product span:first-child div > span:first-child {
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section .purchases-open section .product span:first-child div > span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #AEABAA;
}

body main > section .purchases-open section .product span:first-child div div {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section .purchases-open section .product span:first-child div div span {
  padding: 5px 12px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #5A4B49;
  border: 1px solid #EFEDED;
  border-radius: 4px;
}

body main > section .purchases-open section .product span:first-child div div span:last-child {
  color: #5A4B49;
}

body main > section .purchases-open section .product div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section .purchases-open section .product div:last-child img {
  margin-right: 5px;
}

body main > section section:nth-child(2) {
  padding: 25px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 808px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border: 1px solid rgba(90, 75, 73, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

body main > section section:nth-child(2).open {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

body main > section section:nth-child(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main > section section:nth-child(2) > div .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
}

body main > section section:nth-child(2) > div .status > span {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4C6EF5;
  font-size: 0;
  border-radius: 8px;
}

body main > section section:nth-child(2) > div .status .purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  color: #4C6EF5;
}

body main > section section:nth-child(2) > div .status .purchase span {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section section:nth-child(2) > div .status .purchase span img {
  height: 14px;
  margin-right: 10px;
}

body main > section section:nth-child(2) > div .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section section:nth-child(2) > div .price > span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 39px;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

body main > section section:nth-child(2) > div .price div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  color: #5A4B49;
}

body main > section section:nth-child(2) > div .price div > span:last-child {
  color: #AEABAA;
}

body main > section section:nth-child(2) > div button {
  height: 50px;
  padding: 0 40px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(247, 246, 246, 0.6);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

body main > section section:nth-child(2) > div button:hover {
  background: #f7f6f6;
}

body main > section section:nth-child(2) > div button span {
  font-size: 16px;
  font-weight: 500;
  color: #5A4B49;
}

body main > section section:nth-child(2) > div button img {
  margin-left: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body main > section section:nth-child(2) .shipping {
  height: 80px;
  padding: 0 25px;
  margin-top: 25px;
  background: rgba(250, 250, 250, 0.5);
  border: 1px solid rgba(239, 237, 237, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main > section section:nth-child(2) .shipping div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section section:nth-child(2) .shipping div:nth-child(4) > span:last-child {
  color: #82C91E;
}

body main > section section:nth-child(2) .shipping div > span:last-child {
  color: #AEABAA;
}

body main > section section:nth-child(2) .shipping div > span:last-child span {
  margin-left: 10px;
  color: #5A4B49;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid #EFEDED;
  border-radius: 4px;
}

body main > section section:nth-child(2) .shipping button {
  width: 50px;
  height: 50px;
  font-size: 0;
  background: #FCFCFC;
  border: 1px solid #EFEDED;
  border-radius: 8px;
  cursor: pointer;
}

body main > section section:nth-child(2) .shipping button:hover {
  background: #f5f5f5;
}

body main > section section:nth-child(2) .progress {
  position: relative;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main > section section:nth-child(2) .progress div {
  position: relative;
  width: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main > section section:nth-child(2) .progress div span:first-child {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #82C91E;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body main > section section:nth-child(2) .progress div span:nth-child(2) {
  margin-top: 35px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #AEABAA;
}

body main > section section:nth-child(2) .progress div span:last-child {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section section:nth-child(2) .progress div:last-child span:first-child {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #82C91E;
  font-size: 0;
  border-radius: 8px;
}

body main > section section:nth-child(2) .progress div:last-child span:nth-child(2) {
  margin-top: 15px;
}

body main > section section:nth-child(2) .progress::before {
  position: absolute;
  top: 50%;
  left: 35px;
  content: '';
  width: 90%;
  height: 1px;
  border: 1px solid #82C91E;
  z-index: 1;
}

body main > section section:nth-child(2) section .product {
  margin: 0;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main > section section:nth-child(2) section .product:nth-child(n+2) {
  border-top: 1px solid #F6F5F5;
}

body main > section section:nth-child(2) section .product span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main > section section:nth-child(2) section .product span:first-child div:first-child {
  margin-right: 20px;
  width: 72px;
  height: 72px;
  background: #000000;
  border-radius: 8px;
}

body main > section section:nth-child(2) section .product span:first-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main > section section:nth-child(2) section .product span:first-child div > span:first-child {
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section section:nth-child(2) section .product span:first-child div > span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #AEABAA;
}

body main > section section:nth-child(2) section .product span:first-child div div {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section section:nth-child(2) section .product span:first-child div div span {
  padding: 5px 12px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #5A4B49;
  border: 1px solid #EFEDED;
  border-radius: 4px;
}

body main > section section:nth-child(2) section .product span:first-child div div span:last-child {
  color: #5A4B49;
}

body main > section section:nth-child(2) section .product div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section section:nth-child(2) section .product div:last-child img {
  margin-right: 5px;
}

body main > section section:nth-child(3) {
  padding: 25px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 808px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border: 1px solid rgba(90, 75, 73, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

body main > section section:nth-child(3).open {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

body main > section section:nth-child(3) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main > section section:nth-child(3) > div .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
}

body main > section section:nth-child(3) > div .status > span {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #7950F2;
  font-size: 0;
  border-radius: 8px;
}

body main > section section:nth-child(3) > div .status .purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  color: #7950F2;
}

body main > section section:nth-child(3) > div .status .purchase span {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section section:nth-child(3) > div .status .purchase span img {
  height: 14px;
  margin-right: 10px;
}

body main > section section:nth-child(3) > div .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section section:nth-child(3) > div .price > span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 39px;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

body main > section section:nth-child(3) > div .price div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  color: #5A4B49;
}

body main > section section:nth-child(3) > div .price div > span:last-child {
  color: #AEABAA;
}

body main > section section:nth-child(3) > div button {
  height: 50px;
  padding: 0 40px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(247, 246, 246, 0.6);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

body main > section section:nth-child(3) > div button:hover {
  background: #f7f6f6;
}

body main > section section:nth-child(3) > div button span {
  font-size: 16px;
  font-weight: 500;
  color: #5A4B49;
}

body main > section section:nth-child(3) > div button img {
  margin-left: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body main > section section:nth-child(3) .shipping {
  height: 80px;
  padding: 0 25px;
  margin-top: 25px;
  background: rgba(250, 250, 250, 0.5);
  border: 1px solid rgba(239, 237, 237, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main > section section:nth-child(3) .shipping div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section section:nth-child(3) .shipping div:nth-child(4) > span:last-child {
  color: #82C91E;
}

body main > section section:nth-child(3) .shipping div > span:last-child {
  color: #AEABAA;
}

body main > section section:nth-child(3) .shipping div > span:last-child span {
  margin-left: 10px;
  color: #5A4B49;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid #EFEDED;
  border-radius: 4px;
}

body main > section section:nth-child(3) .shipping button {
  width: 50px;
  height: 50px;
  font-size: 0;
  background: #FCFCFC;
  border: 1px solid #EFEDED;
  border-radius: 8px;
  cursor: pointer;
}

body main > section section:nth-child(3) .shipping button:hover {
  background: #f5f5f5;
}

body main > section section:nth-child(3) .progress {
  position: relative;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main > section section:nth-child(3) .progress div {
  position: relative;
  width: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main > section section:nth-child(3) .progress div span:first-child {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #82C91E;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body main > section section:nth-child(3) .progress div span:nth-child(2) {
  margin-top: 35px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #AEABAA;
}

body main > section section:nth-child(3) .progress div span:last-child {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section section:nth-child(3) .progress div:last-child span:first-child {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #82C91E;
  font-size: 0;
  border-radius: 8px;
}

body main > section section:nth-child(3) .progress div:last-child span:nth-child(2) {
  margin-top: 15px;
}

body main > section section:nth-child(3) .progress::before {
  position: absolute;
  top: 50%;
  left: 35px;
  content: '';
  width: 90%;
  height: 1px;
  border: 1px solid #82C91E;
  z-index: 1;
}

body main > section section:nth-child(3) section .product {
  margin: 0;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main > section section:nth-child(3) section .product:nth-child(n+2) {
  border-top: 1px solid #F6F5F5;
}

body main > section section:nth-child(3) section .product span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main > section section:nth-child(3) section .product span:first-child div:first-child {
  margin-right: 20px;
  width: 72px;
  height: 72px;
  background: #000000;
  border-radius: 8px;
}

body main > section section:nth-child(3) section .product span:first-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main > section section:nth-child(3) section .product span:first-child div > span:first-child {
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section section:nth-child(3) section .product span:first-child div > span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #AEABAA;
}

body main > section section:nth-child(3) section .product span:first-child div div {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section section:nth-child(3) section .product span:first-child div div span {
  padding: 5px 12px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #5A4B49;
  border: 1px solid #EFEDED;
  border-radius: 4px;
}

body main > section section:nth-child(3) section .product span:first-child div div span:last-child {
  color: #5A4B49;
}

body main > section section:nth-child(3) section .product div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
}

body main > section section:nth-child(3) section .product div:last-child img {
  margin-right: 5px;
}

body main > section section:nth-child(4) > div {
  height: auto;
  padding: 25px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid rgba(90, 75, 73, 0.1);
  border-radius: 4px;
}

body main > section section:nth-child(4) > div .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
}

body main > section section:nth-child(4) > div .status > span {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #40C057;
  font-size: 0;
  border-radius: 8px;
}

body main > section section:nth-child(4) > div .status .purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  color: #40C057;
}

body main > section section:nth-child(4) > div .status .purchase span {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section section:nth-child(4) > div .status .purchase span img {
  height: 14px;
  margin-right: 10px;
}

body main > section section:nth-child(4) > div .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section section:nth-child(4) > div .price > span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 39px;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

body main > section section:nth-child(4) > div .price > span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

body main > section section:nth-child(4) > div .price div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  color: #5A4B49;
}

body main > section section:nth-child(4) > div .price div > span:last-child {
  color: #AEABAA;
}

body main > section section:nth-child(4) > div button {
  height: 50px;
  padding: 0 40px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(247, 246, 246, 0.6);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

body main > section section:nth-child(4) > div button:hover {
  background: #f7f6f6;
}

body main > section section:nth-child(4) > div button span {
  font-size: 16px;
  font-weight: 500;
  color: #5A4B49;
}

body main > section section:nth-child(4) > div button img {
  margin-left: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body main > section section:nth-child(5) > div {
  height: auto;
  padding: 25px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid rgba(90, 75, 73, 0.1);
  border-radius: 4px;
}

body main > section section:nth-child(5) > div .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
}

body main > section section:nth-child(5) > div .status > span {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #20C997;
  font-size: 0;
  border-radius: 8px;
}

body main > section section:nth-child(5) > div .status .purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  color: #20C997;
}

body main > section section:nth-child(5) > div .status .purchase span {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section section:nth-child(5) > div .status .purchase span img {
  height: 14px;
  margin-right: 10px;
}

body main > section section:nth-child(5) > div .price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section section:nth-child(5) > div .price > span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 39px;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

body main > section section:nth-child(5) > div .price > span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

body main > section section:nth-child(5) > div .price img {
  position: absolute;
  top: 0;
  left: 35px;
  width: 16px;
  height: 16px;
  padding: 1px;
  font-weight: bold;
  background: #FF5448;
  border-radius: 50%;
  border: 2px solid white;
}

body main > section section:nth-child(5) > div .price div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  color: #5A4B49;
}

body main > section section:nth-child(5) > div .price div > span:last-child {
  color: #AEABAA;
}

body main > section section:nth-child(5) > div button {
  height: 50px;
  padding: 0 40px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(247, 246, 246, 0.6);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

body main > section section:nth-child(5) > div button:hover {
  background: #f7f6f6;
}

body main > section section:nth-child(5) > div button span {
  font-size: 16px;
  font-weight: 500;
  color: #5A4B49;
}

body main > section section:nth-child(5) > div button img {
  margin-left: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body main > section section:nth-child(6) > div {
  height: auto;
  padding: 25px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid rgba(90, 75, 73, 0.1);
  border-radius: 4px;
}

body main > section section:nth-child(6) > div .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
}

body main > section section:nth-child(6) > div .status > span {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FA5252;
  font-size: 0;
  border-radius: 8px;
}

body main > section section:nth-child(6) > div .status .purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  color: #FA5252;
}

body main > section section:nth-child(6) > div .status .purchase span {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #5A4B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section section:nth-child(6) > div .status .purchase span img {
  height: 14px;
  margin-right: 10px;
}

body main > section section:nth-child(6) > div .price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > section section:nth-child(6) > div .price > span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 39px;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

body main > section section:nth-child(6) > div .price > span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 31px;
  height: 31px;
  background: #000000;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

body main > section section:nth-child(6) > div .price img {
  position: absolute;
  top: 0;
  left: 35px;
  width: 16px;
  height: 16px;
  padding: 1px;
  font-weight: bold;
  background: #FF5448;
  border-radius: 50%;
  border: 2px solid white;
}

body main > section section:nth-child(6) > div .price div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  color: #5A4B49;
}

body main > section section:nth-child(6) > div .price div > span:last-child {
  color: #AEABAA;
}

body main > section section:nth-child(6) > div button {
  height: 50px;
  padding: 0 40px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(247, 246, 246, 0.6);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

body main > section section:nth-child(6) > div button:hover {
  background: #f7f6f6;
}

body main > section section:nth-child(6) > div button span {
  font-size: 16px;
  font-weight: 500;
  color: #5A4B49;
}

body main > section section:nth-child(6) > div button img {
  margin-left: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body footer {
  margin-top: 89px;
  height: 252px;
  width: 100%;
  padding: 60px 200px;
  background: #F8F9FA;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer > section:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer > section:first-child > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

body footer > section:first-child > div:first-child > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 14px;
}

body footer > section:first-child > div:first-child > div img:nth-child(n+2) {
  margin-left: 8px;
}

body footer > section:first-child > div:first-child > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  padding: 5px;
  background: #FFFFFF;
}

body footer > section:first-child > div:first-child > div div:nth-child(n+2) {
  margin-left: 8px;
}

body footer > section:first-child > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer > section:first-child > div:last-child img:nth-child(n+2) {
  margin-left: 46px;
}

body footer > section:last-child {
  margin-top: 32px;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}
/*# sourceMappingURL=main.css.map */